body {
	background-color: navy;
	color: white;
    font-size: 1.5em; /* base font size */
}

#player-1-score-div {
	text-align: right;
}

#player-2-score-div {
	text-align: center;
}

#main-board {
	background-image: none;
	background-color: black;
}

#main-board-categories{
	background-image: none;
	background-color: black;
	border: none;
	color: white;
}

.score-button-group {
	text-align: center;
}

.control-button-group {
	text-align: center;
	height: 15px
}

.category {
	padding-left: 5px;
	padding-right: 5px;
}

.category-title {
	background-image: none;
	border: none;
	margin-bottom: 10px;


    display: table-cell;
    vertical-align: middle;
    position: relative;

}

.category-text {
	font-size: 2em;
	font-family: "Minion Pro";
	font-weight: bold;

}

.well {
	background-image: none;
	background-color: navy;
	border: none;
	margin-bottom: 10px;
	padding: 3px;
}

.question {
	color: goldenrod;
	font-size: 60px;
	font-family: Impact;	
}

.modal-content {
	background-color: navy;
	color: white;
}

.modal-title{
    padding-top: 0; /* overwrite inline default */
}


.panel-footer {
	background-color: navy;
	color: white;
}

.question-text {
	font-family: "Minion Pro", "Palatino Linotype", "Palatino", serif; /* fixed*/
	font-size: 3em;
	text-align: center;
	color: white;
    padding-left: 15%;
    padding-right: 15%;
}

.question-image-text {
	font-size: 2em;
	padding-top: 20px !important;
}

.question-image {
    height: 55vh; 
    width: 70vw; 
    object-fit: contain;
}

#game-load-logo-img{
    height: 65vh; 
    width: 90vw; 
    object-fit: contain;
}

#final-jeopardy-logo-img{
    height: 65vh; 
    width: 100%; 
    object-fit: contain;
}

#final-jeopardy-question{
    height: 65vh; 
}

#daily-double-modal .modal-footer {
	text-align: center;
}

#daily-double-modal-content{
    width:90vw;
}

#daily-double-modal-dialog{
    margin: auto 10vh;
}

#daily-double-logo-img{
    height: 50vh; 
    width: 70vw; 
    object-fit: contain;
}

#timer-grid {
	display: block;
	width: 512px;
	height: 40px;
	position: relative;
	background-color: silver;
	text-align: center;
	margin: 0 auto;
	padding: 5px;
}

.timer-square {
	display: inline-block;
	background-color: black; 
	border: 1px solid #000; 
	height: 30px;
	width: 50px;
	position: relative;
}


#game-load-modal-dialog {
	width: 100%;
	padding: 0;
}

#question-modal {
	width: 100vw;
	height: 100vh;
	padding: 0;
}

#question-modal-dialog {
	width: 100vw;
	margin: 0;
}

#question-modal-content {
	height: 100vh;
	border-radius: 0;
}

/*
#question-modal-body { // moved to .question-text as padding
	margin-left: 10%;
	margin-right: 10%;
}
*/

#end-round {
	margin-right: 10px;
}